.streddiv {
    text-align: center;
}
.neviditelnost {
    visibility: hidden;
}
a,
a:visited,
a:hover,
a:active {
    color: #333333;
    text-decoration: none;
}
.vlevonahoru {
    text-align: left;
    text-align: start; 
}
.specialcudlik1 {
    width: 400px;
    height: 400px;
    transition-duration: 250ms;
}
.specialcudlik1:hover {
    width: 450px;
    height: 450px;
    transition-duration: 250ms;
}
.specialcudlik2 {
    width: 425px;
    height: 400px;
    transition-duration: 250ms;
}
.specialcudlik2:hover {
    width: 475px;
    height: 450px;
    transition-duration: 250ms;  
}
.chachaobrazek {
    width: 415px;
    transition-duration: 250ms;
}
.chachaobrazek:hover {
    width: 465px;
    transition-duration: 250ms;
}
button {
    width: 125px;
    height: 55px;
    padding: 5px;
    margin: 10px;
    transition-duration: 250ms;
}
button:hover {
    width: 155px;
    height: 85px;
    transition-duration: 250ms;
}
input {
    border: none;
    appearance: none;
}